:root{
    --all_navbar_textcolor: #dddddd;
    --all_navbar_backgroundcolor: #4B5043;
    --all_content_backgroundcolor: #ebf5ef;
    --mobile_navbar_height: 50px;
    --desktop_navbar_height: 70px;

}

body,html{
    background-color: var(--all_content_backgroundcolor);
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
}

.front-title{
    position: relative;
    text-align: center;
    background-image: url("lago.jpg");
    margin-top: 0px;
    height: 70%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .9;
    z-index: 0;
}

.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    z-index: 1;
}
.top-title, .sub-title{
    font-weight: bold;
    color:rgb(84, 201, 123);
    text-shadow: 3px 3px 5px rgb(0, 0, 0);
}
.top-title{
    font-size: 30px;
}
.sub-title{
    font-size: 20px
}

/*Style Desktop*/
@media only screen and (min-width: 991px){
    .navbar{
        position: fixed;
        background-color: var(--all_navbar_backgroundcolor);
        top: 0;
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        overflow-y: auto;
        overflow: visible;
        align-items: center;
        height: var(--desktop_navbar_height);
        width: 100%;
        box-shadow: 0px 5px 5px rgba(66, 66, 66, 0.75) ;
        z-index: 2;
        
    }

    .navbar a{
        transition: transform .2s;
    }

    .nav-text{
        display: flex;
        flex-wrap: nowrap;
    }
    .nav-text a{
        color: var(--all_navbar_textcolor);
        text-align: center;
        font-size: 25px;
        text-decoration: none;
        padding: 25px 20px 20px;
    }
    .nav-text span{
        color: var(--all_navbar_textcolor);
        font-size: 25px;
        vertical-align: -10%;
    }
    
    .nav-text a:hover{
        background-color: #556860;
        transform: scale(1.15);
    }
    .nav-icon{
        display: flex;
        margin-top: 10px;
        width: 150px;
        height: 150px;
        justify-content: center;
        align-items: center;
    }
    .logo{
        border-radius: 50%;
        margin-top: 25px;
        width: 90px;
        height: 90px;
        box-shadow: 0px .4em 10px 1px rgba(66, 66, 66, 0.75);
    }

    .nav-icon a:hover{
        transform: scale(1.15);
    }

    .content {
        margin-top: 50px;
        display: grid;
        padding: 16px;
    }

    .footer{
        margin: 0;
        padding-top: .5%;
        padding-bottom: .5%;
        background-color:#333;
        box-shadow: 0px 0px 10px rgba(50, 50, 50, 0.75);
        font-size: 12px;
        font-family: sans-serif;
        color:aliceblue;
        font-weight: bold;
        
    }

    .footer .contatti, .footer .madeby, .footer .text-contatti{
        margin:0;
        text-align: center;
    }
    .footer .text-contatti{
        margin-top: 10px;
        margin-bottom:5px;
    }
    .footer .contatti{
        font-size: 14px;
        word-spacing: 5vw;
        text-decoration: none;
        cursor: pointer;
    }
    .footer .contatti a{
        transition: color .4s;
        color: white;
        cursor: pointer;
        text-decoration: none;
    }
    .footer .contatti a:hover{
        color: rgb(55, 118, 255)
    }
}
  

/*Style Mobile*/
@media only screen and (max-width: 991px){
    .navbar{
        position: fixed;
        top: 0;
        padding: 0;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        background-color: var(--all_navbar_backgroundcolor);
        overflow: hidden;
        height: var(--mobile_navbar_height);
        width: 100%;
        z-index: 2;
    }

    .nav-text a{
        color: var(--all_navbar_textcolor);
        text-align: center;
        text-decoration: none;
    }

    .navbar a{
        transition: transform .2s;
        height:fit-content;
        width: 20%;
        padding: 10px;
    }

    .nav-text span{
        transition: margin-top .2s, transform .2s;
    }

    /*Se il dispositivo è con mouse*/
    @media (hover: hover) and (pointer: fine){
        .navbar a:hover{
            background-color: #556860;
            transform: scale(1.20);
        }
        .nav-text a:hover span{
            margin-top: -3px;
            transform: scale(1.25);
        }
    }

    /*Se il dispositivo è touch */
    @media (hover: none) and (pointer: coarse){
        .navbar a:active{
            background-color: #556860;
            transform: scale(1.20);
        }
        .nav-text a:active span{
            margin-top: -3px;
            transform: scale(1.25);
        }
    }


    .nav-text{
        display: flex;
        flex-wrap: nowrap;
        flex: 1 1 0px;
        justify-content: space-around;
        flex-grow: 1;
    }

    .nav-text a{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        flex: 1 1 0px;
        justify-content: center;
        align-items: center;
    }

    .nav-text i{
        font-size: 20px;
    }

    .nav-text span{
        display:block;
        font-size: 12px;
    }

    .nav-icon{
        display: flex;
        flex: 1 1 0px;
        justify-content: center;
        align-items: center;
        flex-grow: .5;
        width: 45px;
        height: var(--mobile_navbar_height);
    }

    .nav-icon a{
        display: flex;
        flex: 1 1 0px;
        justify-content: center;
        align-items: center;
    }

    .logo{
        border-radius: 50%;
        width: 45px;
        height: 45px;
    }


    .content {
        margin-top: 50px;
        padding: 16px;
    }

    .footer{
        margin: 0;
        padding-top: .5%;
        padding-bottom: .5%;
        background-color:#333;
        box-shadow: 0px 0px 10px rgba(50, 50, 50, 0.75);
        font-size: 12px;
        font-family: sans-serif;
        color:aliceblue;
        font-weight: bold;
        
    }

    .footer .contatti, .footer .madeby, .footer .text-contatti{
        margin:0;
        text-align: center;
    }
    .footer .text-contatti{
        margin-top: 10px;
        margin-bottom:5px;
    }
    .footer .contatti{
        font-size: 14px;
        word-spacing: 5vw;
    }

    .footer .contatti a{
        transition: color .4s;
        color: white;
        cursor: pointer;
        text-decoration: none;
    }
    /*Dispositivo con mouse*/
    @media (hover: hover) and (pointer: fine){
        .footer .contatti a:hover{
            color: rgb(55, 118, 255)
        }
    }
    /*Dispositivo touch*/
    @media (hover: none) and (pointer: coarse){
        .footer .contatti a:focus{
            color: rgb(55, 118, 255)
        }
    }
}
