:root{
    --all_navbar_textcolor: #dddddd;
    --all_navbar_backgroundcolor: #4B5043;
    
    --all_content_backgroundcolor: #D3FFE9;

    --slider_border_button: #090909;
    --slider_checked_button: #9BC4BC;


    --mobile_navbar_height: 50px;
    --desktop_navbar_height: 70px;

}

body,html{
    background-color: var(--all_content_backgroundcolor);
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
}

.front-title{
    position: relative;
    text-align: center;
    background-image: url("lago.jpg");
    margin-top: 0px;
    height: 70%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .9;
    z-index: 0;
}

.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    z-index: 1;
}
.top-title, .sub-title{
    font-weight: bold;
    color:rgb(84, 201, 123);
    text-shadow: 3px 3px 5px rgb(0, 0, 0);
}
.top-title{
    font-size: 30px;
}
.sub-title{
    font-size: 20px
}




.map iframe{
    width: 100%;
    height: auto;
}


/*Style Desktop*/
@media only screen and (min-width: 991px){
    .navbar{
        position: fixed;
        background-color: var(--all_navbar_backgroundcolor);
        top: 0;
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        overflow-y: auto;
        overflow: visible;
        align-items: center;
        height: var(--desktop_navbar_height);
        width: 100%;
        box-shadow: 0px 5px 5px rgba(66, 66, 66, 0.75) ;
        z-index: 2;
        
    }

    .navbar a{
        transition: transform .2s;
    }

    .nav-text{
        display: flex;
        flex-wrap: nowrap;
    }
    .nav-text a{
        color: var(--all_navbar_textcolor);
        text-align: center;
        font-size: 25px;
        text-decoration: none;
        padding: 25px 20px 20px;
    }
    .nav-text span{
        color: var(--all_navbar_textcolor);
        font-size: 25px;
        vertical-align: -10%;
    }
    
    .nav-text a:hover{
        background-color: #556860;
        transform: scale(1.15);
    }
    .nav-icon{
        display: flex;
        margin-top: 10px;
        width: 150px;
        height: 150px;
        justify-content: center;
        align-items: center;
    }
    .logo{
        border-radius: 50%;
        margin-top: 25px;
        width: 90px;
        height: 90px;
        box-shadow: 0px .4em 10px 1px rgba(66, 66, 66, 0.75);
    }

    .nav-icon a:hover{
        transform: scale(1.15);
    }

    .content {
        margin-top: 10px;
        margin-bottom: 20px;
        display: grid;
        grid-template-columns: 55% 35% 10%;
        grid-template-rows: .1fr .1fr .2fr .1fr;
        grid-row-gap: 20px;
        padding: 15px 70px 15px 70px;
    }
    .content h2{
        text-align: center;
        letter-spacing: 3px;
        text-transform: uppercase;
        font: 20px "Lato", sans-serif;
    }
    .content p{
        font-family:'Segoe UI';
        font-size: 16px
    }

    .cibo{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;

        display:grid;
        grid-template-columns: auto auto;

        grid-column-gap: 10px;
    }
    .cibo-text{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;

        align-self: center;
        justify-self: center;
      }

    .slider{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        width: 600px;
        height: 300px;
        border-radius: 10px;
        overflow: hidden;

        justify-self: center;
      }
      
      .slides{
        width: 500%;
        height: 300px;
        display: flex;
      }
      
      .slides input{
        display: none;
      }
      
      .slide{
        width: 20%;
        transition: 2s;
      }
      
      .slide img{
        width: 600px;
        height: 300px;
      }
      
      /*css for manual slide navigation*/
      
      .navigation-manual{
        position: absolute;
        width: 600px;
        margin-top: -40px;
        display: flex;
        justify-content: center;
      }
      
      .manual-btn{
        border: 2px solid var(--slider_border_button);
        padding: 5px;
        border-radius: 10px;
        cursor: pointer;
        transition: 1s;
      }
      
      .manual-btn:not(:last-child){
        margin-right: 40px;
      }
      
      .manual-btn:hover{
        background: var(--slider_checked_button);
      }
      
      #radio1:checked ~ .first{
        margin-left: 0;
      }
      
      #radio2:checked ~ .first{
        margin-left: -20%;
      }
      
      #radio3:checked ~ .first{
        margin-left: -40%;
      }
      
      #radio4:checked ~ .first{
        margin-left: -60%;
      }
      
      /*css for automatic navigation*/
      
      .navigation-auto{
        position: absolute;
        display: flex;
        width: 600px;
        justify-content: center;
        margin-top: 260px;
      }
      
      .navigation-auto div{
        border: 2px solid var(--slider_border_button);
        padding: 5px;
        border-radius: 10px;
        transition: 1s;
      }
      
      .navigation-auto div:not(:last-child){
        margin-right: 40px;
      }
      
      #radio1:checked ~ .navigation-auto .auto-btn1{
        background: var(--slider_checked_button);
      }
      
      #radio2:checked ~ .navigation-auto .auto-btn2{
        background: var(--slider_checked_button);
      }
      
      #radio3:checked ~ .navigation-auto .auto-btn3{
        background: var(--slider_checked_button);
      }
      
      #radio4:checked ~ .navigation-auto .auto-btn4{
        background: var(--slider_checked_button);
      }

    .news{
        scroll-margin-top: 90px;

        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
        justify-self: center;

        background-color: rgba(255, 243, 177, 0.699);
        border-radius: 8%;
    }
    .news p{
        text-align: center;
        padding: 15px;
    }


    .chi{
        scroll-margin-top: 100px;
        padding: 16px 0 16px 0;

        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 4;
        justify-self: center;

        background-color: rgba(177, 255, 181, 0.699);
        border-radius: 8%;
        
        display: grid;
        grid-template-columns: 45% 45% 10%;
        grid-template-rows: 10% 90%
    }
    .chi h2{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;

        align-self: center;
        justify-self: center;
    }
    .chi img{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;

        border-radius: 8%;

        object-fit: contain;
        width: 85%;
        max-height: 95%;
        justify-self: center;
        align-self: center;

    }
    .chi p{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        align-self: center;
    }


    .trovaci{
        scroll-margin-top: 90px;

        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5;
        justify-self: normal;

        background-color: rgba(177, 255, 200, 0.699);
        border-radius: 8%;
    }

    .contatti{
        scroll-margin-top: 90px;

        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 4;
        grid-row-end: 5;
        justify-self: center;
    }

    .footer{
        margin-top: 10px;
        padding-top: .5%;
        padding-bottom: .5%;
        background-color:#333;
        box-shadow: 0px 0px 10px rgba(50, 50, 50, 0.75);
        font-size: 12px;
        font-family: sans-serif;
        color:aliceblue;
        font-weight: bold;
        
    }

    .footer .contatti, .footer .madeby, .footer .text-contatti{
        margin:0;
        text-align: center;
    }
    .footer .text-contatti{
        margin-top: 10px;
        margin-bottom:5px;
    }
    .footer .contatti{
        font-size: 14px;
        word-spacing: 5vw;
        text-decoration: none;
        cursor: pointer;
    }
    .footer .contatti a{
        transition: color .4s;
        color: white;
        cursor: pointer;
        text-decoration: none;
    }
    .footer .contatti a:hover{
        color: rgb(55, 118, 255)
    }
}
  

/*Style Mobile*/
@media only screen and (max-width: 991px){
    .navbar{
        position: fixed;
        top: 0;
        padding: 0;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        background-color: var(--all_navbar_backgroundcolor);
        overflow: hidden;
        height: var(--mobile_navbar_height);
        width: 100%;
        z-index: 2;
    }

    .nav-text a{
        color: var(--all_navbar_textcolor);
        text-align: center;
        text-decoration: none;
    }

    .navbar a{
        transition: transform .2s;
        height:fit-content;
        width: 20%;
        padding: 10px;
    }

    .nav-text span{
        transition: margin-top .2s, transform .2s;
    }

    /*Se il dispositivo è con mouse*/
    @media (hover: hover) and (pointer: fine){
        .navbar a:hover{
            background-color: #556860;
            transform: scale(1.20);
        }
        .nav-text a:hover span{
            margin-top: -3px;
            transform: scale(1.25);
        }
    }

    /*Se il dispositivo è touch */
    @media (hover: none) and (pointer: coarse){
        .navbar a:active{
            background-color: #556860;
            transform: scale(1.20);
        }
        .nav-text a:active span{
            margin-top: -3px;
            transform: scale(1.25);
        }
    }


    .nav-text{
        display: flex;
        flex-wrap: nowrap;
        flex: 1 1 0px;
        justify-content: space-around;
        flex-grow: 1;
    }

    .nav-text a{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        flex: 1 1 0px;
        justify-content: center;
        align-items: center;
    }

    .nav-text i{
        font-size: 20px;
    }

    .nav-text span{
        display:block;
        font-size: 12px;
    }

    .nav-icon{
        display: flex;
        flex: 1 1 0px;
        justify-content: center;
        align-items: center;
        flex-grow: .5;
        width: 45px;
        height: var(--mobile_navbar_height);
    }

    .nav-icon a{
        display: flex;
        flex: 1 1 0px;
        justify-content: center;
        align-items: center;
    }

    .logo{
        border-radius: 50%;
        width: 45px;
        height: 45px;
    }


    .content {
        margin-top: 10px;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto auto;
        grid-row-gap: 20px;
        padding: 15px 20px 15px 20px;
    }
    .content h2{
        text-align: center;
        letter-spacing: 3px;
        text-transform: uppercase;
        font: 20px "arial";
    }
    .content p{
        font-family:'arial';
        font-size: 16px
    }

    .cibo{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;

        display:grid;
        grid-template-rows: .8fr .7fr;
    }
    .cibo-text{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;

        align-self: center;
        justify-self: left;
      }

    .slider{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;

        width: 80vw;
        max-width: 600px;
        height: 40vw;
        max-height: 300px;
        border-radius: 10px;
        overflow: hidden;

        justify-self: center;
      }
      
      .slides{
        width: 500%;
        height: 40vw;
        max-height: 300px;
        display: flex;
      }
      
      .slides input{
        display: none;
      }
      
      .slide{
        width: 20%;
        transition: 2s;
      }
      
      .slide img{
        width: 80vw;
        max-width: 600px;
        height: 40vw;
        max-height: 300px;
      }
      
      /*css for manual slide navigation*/
      
      .navigation-manual{
        position: absolute;
        width: 80vw;
        max-width: 600px;
        margin-top: -40px;
        display: flex;
        justify-content: center;
      }
      
      .manual-btn{
        /*border: 2px solid var(--slider_border_button);*/
        /*padding: 5px;*/
        border-radius: 10px;
        cursor: pointer;
        transition: 1s;
      }
      
      .manual-btn:not(:last-child){
        margin-right: 40px;
      }
     
     /* .manual-btn:hover{
        background: var(--slider_checked_button);
      }*/
      
      #radio1:checked ~ .first{
        margin-left: 0;
      }
      
      #radio2:checked ~ .first{
        margin-left: -20%;
      }
      
      #radio3:checked ~ .first{
        margin-left: -40%;
      }
      
      #radio4:checked ~ .first{
        margin-left: -60%;
      }
      /*css for automatic navigation*/
      /*
      .navigation-auto{
        position: absolute;
        display: flex;
        width: 80vw;
        max-width: 600px;
        justify-content: center;
        margin-top: -40px;
      }
      */
      .navigation-manual div{
        border: 2px solid var(--slider_border_button);
        padding: 5px;
        border-radius: 10px;
        transition: 1s;
      }
      
      .navigation-manual div:not(:last-child){
        margin-right: 40px;
      }
      
      #radio1:checked ~ .navigation-manual .manual-btn div{
        background: var(--slider_checked_button);
      }
      
      #radio2:checked ~ .navigation-manual .manual-btn .auto-btn2{
        background: var(--slider_checked_button);
      }
      
      #radio3:checked ~ .navigation-manual .manual-btn .auto-btn3{
        background: var(--slider_checked_button);
      }
      
      #radio4:checked ~ .navigation-manual .manual-btn .auto-btn4{
        background: var(--slider_checked_button);
      }

    .news{
        scroll-margin-top: var(--mobile_navbar_height);

        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        justify-self: center;

        background-color: rgba(255, 243, 177, 0.699);
        border-radius: 8%;
    }
    .news p{
        text-align: center;
        padding: 15px;
    }


    .chi{
        scroll-margin-top: var(--mobile_navbar_height);

        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5;

        background-color: rgba(177, 255, 181, 0.699);
        border-radius: 8%;
        
    }
    .chi h2{
        align-self: center;
        justify-self: center;
    }
    .chi img{
        width: 100%;
    }
    .chi p{
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
    }

    .trovaci{
        scroll-margin-top: var(--mobile_navbar_height);

        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 5;
        grid-row-end: 6;

        background-color: rgba(177, 255, 200, 0.699);
        border-radius: 8%;
    }

    .contatti{
        scroll-margin-top: var(--mobile_navbar_height);

        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 6;
        grid-row-end: 7;
    }

    .footer{
        margin: 0;
        padding-top: .5%;
        padding-bottom: .5%;
        background-color:#333;
        box-shadow: 0px 0px 10px rgba(50, 50, 50, 0.75);
        font-size: 12px;
        font-family: arial;
        color:aliceblue;
        font-weight: bold;
        
    }

    .footer .contatti, .footer .madeby, .footer .text-contatti{
        margin:0;
        text-align: center;
    }
    .footer .text-contatti{
        margin-top: 10px;
        margin-bottom:5px;
    }
    .footer .contatti{
        font-size: 14px;
        word-spacing: 5vw;
    }

    .footer .contatti a{
        transition: color .4s;
        color: white;
        cursor: pointer;
        text-decoration: none;
    }
    /*Dispositivo con mouse*/
    @media (hover: hover) and (pointer: fine){
        .footer .contatti a:hover{
            color: rgb(55, 118, 255)
        }
    }
    /*Dispositivo touch*/
    @media (hover: none) and (pointer: coarse){
        .footer .contatti a:focus{
            color: rgb(55, 118, 255)
        }
    }
}
